<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school_management</title>
</head>
<body>
    <style>
       body{
        color: blue;
       }
    </style>
<h1>Welcome to the DTH school school management system</h1>    
<p><a href="{% url 'register_tutor' %}">register as tutor</a></p>
<p><a href="{% url 'register_student' %}">register as student</a></p>
<p><a href="{% url 'register_parent' %}">register as parent</a></p>


</body>
</html>